*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */

body{
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.border{
}
.flex{
    display: flex;
}

/* UTILS */

header{
    background-color: white ;
}
main{
    background-color: white;
}
footer{
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
}
img{
    max-width: 140%;
    display: block;
}
.text{
    line-height: 25px;
}

/* NAV */

.nav-container{
    height: 70px;

    justify-content: space-between;
    align-items: center;
}
.nav-container ul> *{
    display: inline;
    margin: 10px;
}
.left-nav{
    align-items: center;
}
#start-button{
    color: white;
    background-color: rgb(0, 60, 255);
    padding: 10px 15px;
}

/* JUMBOTRON */

.jumbotron-container{
    background-color: rgb(175, 213, 253);
    height: 650px;

    display: flex;
    justify-content: center;
}
.content{
    width: 1000px;
    padding: 70px 40px;
}
.title-jumbotron{
    font-size: 31px;
    margin-bottom: 50px;
}
.card{
    justify-content: space-between;
    height: 370px;
    position: relative;
}
.left-card{
    flex-basis: 40%;
}
.right-card{
    flex-basis: 65%;
}
.jumbotron-text > *{
    margin-bottom: 35px;
}
.arrow-down{
    font-size: 50px;
    position: absolute;
    bottom: 0;
}


/* MAIN */

/* FOOTER */
